.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: 'proxima nova';
}

.day {
  font-size: xxx-large;
  padding-bottom: 10px;
}

.month {
  font-size: larger;
  padding-bottom: 5px;
}

.year {
  font-size: xx-large;
}
